doctype html
html
    head
        meta(charset="utf-8")
        title Operator's page
        link(href="css/main.css", rel="stylesheet", type="text/css")

    body
        #top.top.closed
            .top_status#main-status trix
            .top_status#napi-status NAPI: closed
            .top_status#trix-status TRIX: closed
            #selection_pane.selections

        #sections.sections
        script(src="main.js")
