#sections.sections
    table.main-layout
        tr
            td(style="width:768px;vertical-align:top")
                div(style="height:360px;overflow-y:scroll")
                    table#files-table.files(frame="border")
                        tr
                            th Folder
                            th Created
                            th Modified
                            th Status
                            th Action
                        tr.files.row.row0.new
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row1.new
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row0.new
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row1.new
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row0.inwork
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row1.inwork
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row0.inwork
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row1.done
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row0.done
                            td.clickable 10020310
                            td 2016-05-05 15:30:22
                            td 2016-05-05 16:33:45
                            td new
                            td.clickable ingest
                        tr.files.row.row1.done
                            td.clickable 10020311
                            td 2016-05-05 15:21:54
                            td 2016-05-05 17:09:02
                            td inwork
                            td.clickable ingest
            td#files-data(style="width:720px;vertical-align:top" rowspan="2")
                p video.mp4
                p audio.mp3
