#sections.sections
    table.main-layout
        tr
            td(style="width:768px;vertical-align:top")
                div(style="height:360px;overflow-y:scroll")
                    table#movies-table.content(frame="border")
                        tr
                            th Studio
                            th Title
                            th Title (RU)
                            th slug
                            th ID
                            th GUID
                            th duration
                            th status
                        tr.content.row.row0.clickable
                            td Universal
                            td 21_Grams
                            td 21 грамм
                            td 21-grams
                            td 1662
                            td fdf79f59-fc1e-4d4e-b987-6b9c891d1911
                            td 0
                            td 1
                        tr.content.row.row1.clickable
                            td Universal
                            td 21_Grams
                            td 21 грамм
                            td 21-grams
                            td 1662
                            td fdf79f59-fc1e-4d4e-b987-6b9c891d1911
                            td 0
                            td 1
            td(style="width:720px;vertical-align:top" rowspan="2")
                table#movie-data.movie-data
                    tr
                        td flashfile
                        td xxx
                br
                label(id="audio-consistant-info") audio-consistant-info
        tr
            td
                label(style="margin-left:4px;color:rgb(180,180,180);") Filtering mode/presets:
                div
                    form#filter_select.checkboxes(name="filter_select")
                div
                    label Filtering by RPN filter
                div
                    button#filter-apply(style="width:120px;") Apply selection filter
                    label#custom-filter
                table#filters.filters
                    tr
                        th Studio
                        th status
                        th files
                    tr
                        td
                            .checkboxes
                                input#filter_studio0(type="checkbox", name="filter_studio", value="0", onclick="ts(this)")
                                label(for="filter_studio0") 100 фильм
                                br
                                input#filter_studio1(type="checkbox", name="filter_studio", value="1")
                                label(for="filter_studio1") A-Company
                                br

                        td
                            input#filter_status0(type="checkbox", name="filter_status", value="0")
                            label(for="filter_status0")
                            br
                            input#filter_status1(type="checkbox", name="filter_status", value="1")
                            label(for="filter_status1") not public
                            br

            td

div(style="width:800px")
    #movies-refresh(style="text-align:left;float:left;margin-left:10px;padding:4px;cursor:pointer;") Refresh
    #title-count(style="text-align:left;float:left;margin-left:10px;margin-top:4px;color:grey;") Number of titles:
    button#copy-guids(style="width:80px;margin:0;padding:0;") Copy GUIDs
    button#copy-ids-names(style="width:80px;margin:0;padding:0;") Copy ids/names