div
    table#series-table.series-container(frame="border")
        tr
            td.series-container
                div(style="height:360px;overflow-y:scroll")
                    table#series-series(frame="border")
                        tr
                            th name
                            th year
                            th ID
                        tr.selected
                            td You MF
                            td 2005
                            td 18
            td.series-container
                div(style="height:360px;overflow-y:scroll")
                    table#series-seasons(frame="border")
                        tr
                            th index
                            th name
                        tr
                            td #1
                            td 22
                        tr
                            td #2
                            td 22
                        tr
                            td #3
                            td 22
            td.series-container
                div(style="height:360px;overflow-y:scroll")
                    table#series-episodes(frame="border")
                        tr
                            th index
                            th name
                        tr
                            td #1
                            td note
                        tr
                            td #2
                            td note
                        tr
                            td #3
                            td note
                        tr
                            td #4
                            td note
                        tr
                            td #5
                            td note
        tr
            td.series-container(colspan="3")
                table#series-series-info(frame="border")
                    tr
                        td Trailer
                        td hd
                        td PR
                        td dash-list
                        td http://109.105.148.1/u9/18/2f/Fox.Entrapment@AT_beginning@lang_rus.mp4
                table#series-season-info(frame="border")
                    tr
                        td Image
                        td uxhd
                        td flat
                        td JPEG
                        td http://109.105.148.1/u9/18/2f/Fox.Entrapment@AT_beginning@lang_rus.mp4
                    tr
                        td Poster
                        td uxhd
                        td flat
                        td JPEG
                        td http://109.105.148.1/u9/18/2f/Fox.Entrapment@AT_beginning@lang_rus.mp4
                table#series-episode-info(frame="border")
                    tr
                        td File
                        td sd
                        td FS
                        td ss
                        td http://109.105.148.1/u18/b0/7f77f7-dd33-47fa-8ccd-648d8c80c872/5d72ea8c-7827-45cd-920d-639f9cc06bca@SD.ism/manifest
                    tr
                        td File
                        td sd
                        td FS
                        td dash
                        td http://109.105.148.1/u18/b0/7f77f7-dd33-47fa-8ccd-648d8c80c872/5d72ea8c-7827-45cd-920d-639f9cc06bca@SD.mpd

    br
